body {
    font-family: 'Poppins', sans-serif;
    background: #eee;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.single-price {
    width: 20em;
    background: linear-gradient(225deg, rgba(142, 48, 60, 1) 0%, rgba(38, 38, 38, 1) 100%);
    float: left;
    margin: 1.5%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 2rem;
    transition: 0.9s;
}

.price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #da4357;
    margin: 5% auto 0 auto;
    text-align: center;
}

.deals {
    margin-top: 10%;
}

.single-price h1 {
    font-size: 18px;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
}

.price h2 {
    font-size: 38px;
    color: #fff;
}

.deals h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    line-height: 1;
}

.deals-off h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: gray;
    line-height: 1;
    text-decoration: line-through;
}

.single-price:hover {
    background: #da4357;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 2rem;
}

.single-price:hover .price {
    border-color: #fff;
}

.single-price a {
    text-decoration: none;
    background: #da4357;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
}

.single-price:hover a {
    background: #262626;
    color: #fff;
}

@media(max-width: 768px) {
    .wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
}