body {
    font-family: 'Poppins', sans-serif;
    background: #eee;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.single-price {
    width: 20em;
    background: #fff;
    color: #262626;
    float: left;
    margin: 1.5%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 2rem;
    transition: 0.9s;
}

.price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #5243DE;
    margin: 5% auto 0 auto;
    text-align: center;
}

.deals {
    margin-top: 10%;
}

.single-price h1 {
    font-size: 18px;
    line-height: 3;
    text-transform: uppercase;
}

.price h2 {
    font-size: 38px;
}

.deals h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 1;
}

.deals-off h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: gray;
    line-height: 1;
    text-decoration: line-through;
}

.single-price:hover {
    background: #5243DE;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 2rem;
    border: 0.2rem #262626 solid;
}

.single-price:hover .price {
    border-color: #262626;
}

.single-price button {
    text-decoration: none;
    background: #5243DE;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
}

.single-price:hover button {
    background: #262626;
    color: #fff;
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width: 768px) {
    .wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
}